{% extends 'layout.html.twig' %}

{% block title %}Créer une compte
{% endblock %}
{% block Head %}
	{{ parent() }}
	{% block LinksCss %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset ('css/stylebutton.css') }}">
		
	{% endblock %}

{% endblock %}
{% block Content %}
	<section class="gry-bg py-4" style="background-color: #f5f5f5;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xxl-8 col-xl-8 col-lg-8 col-md-12">
					<div class="card shadow-lg border-0 rounded-4" style="background-color:#ffff;">
						<div class="text-center pt-5">
							<h1 class="h3 fw-bold">Créer une compte</h1>
							<p class="text-muted" style="--bs-text-opacity: 1;
								    color: #000000ff !important;">Remplissez le formulaire pour vous inscrire</p>
						</div>

						<div class="px-4 py-5">
							<form id="reg-form" class="form-default" method="POST">
								{{ form_start(registrationForm) }}

								<div class="row g-3 mb-3">
									<div class="col-md-4">
										{{ form_row(registrationForm.nom, {'attr': {'class': 'form-control  rounded-pill','style':'background-color: #dfdfdf;', 'placeholder':'Nom ou raison sociale'}}) }}
									</div>
									<div class="col-md-4">
										{{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control  rounded-pill','style':'background-color: #dfdfdf;', 'placeholder':'Prénom'}}) }}
									</div>
									<div class="col-md-4">
										{{ form_row(registrationForm.roles, { 'attr': { 'class': 'form-select rounded-pill', 'style': 'background-color: #dfdfdf;' } }) }}
									</div>

								</div>

								<div class="row g-3 mb-3">
									<div class="col-md-4">
										{{ form_row(registrationForm.adresse, {'attr': {'class': 'form-select  rounded-pill','style':'background-color: #dfdfdf;', 'placeholder':'Adresse'}}) }}
									</div>
									<div class="col-md-4">
										{{ form_row(registrationForm.tel1, {'attr': {'class': 'form-control  rounded-pill','style':'background-color: #dfdfdf;', 'placeholder':'Téléphone 1'}}) }}

									</div>
									<div class="col-md-4">
										{{ form_row(registrationForm.tel2, {'attr': {'class': 'form-control  rounded-pill','style':'background-color: #dfdfdf;', 'placeholder':'Téléphone 2'}}) }}
									</div>
								</div>


								<div class="mb-3">
									{{ form_row(registrationForm.email, {'attr': {'class': 'form-control  rounded-pill','style':'background-color: #dfdfdf;', 'placeholder':'Email'}}) }}
								</div>

								<div class="mb-3">
    <div class="input-group">
        {{ form_row(registrationForm.plainPassword, {
            'attr': {
                'class': 'form-control rounded-pill',
                'style': 'background-color: #dfdfdf;',
                'placeholder': 'Mot de passe',
                'type': 'password'
            }
        }) }}
        <button class="btn btn-outline-secondary rounded-pill" type="button" onclick="togglePassword(this)">
            👁
        </button>
    </div>
</div>
<div class="mb-3">
									<div class="g-recaptcha" data-sitekey="6Ld_nrsZAAAAAO-MowQQPfbD9yoio52GiMgUrmRX"></div>
								</div>

								<button type="submit" class="btn btn-info w-100 rounded-pill fw-bold py-2" style="background-color: #2ec4b6; color: #fff; border: none;">Créer une compte</button>

								{{ form_end(registrationForm) }}
							</form>

							<div class="text-center mt-4 text-white">
								<p class="mb-1" style="--bs-text-opacity: 1;
									    color: #000000ff !important;">Vous avez déjà un compte ?</p>
								<a href="{{ path('app_login') }}" class="btn btn-Dashboard1 btn-outline-light rounded-pill">S'identifier</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


{% endblock %}

