{% extends 'layoutAdmin.html.twig' %}
    {% block Head %}
        {{ parent() }}
    
     {% block LinksCss %}
     {{ parent() }}
    
     {% endblock %}
    
    {% endblock %}
    
    {% block title %}
    footer configuration!
    {% endblock %}
    {% block loader %} {{ parent() }} {% endblock %}
    {% block sidebar %}
    {{ parent() }}
    {% endblock %}
    
    {% block page %}
        {{ parent() }}
        
<div class="px-15px px-lg-25px">

	
	<div class="row">
		<div class="col-md-8 mx-auto">
			<div class="card">
				<div class="card-header">
					<h6 class="mb-0"> Configurations site</h6>
				</div>
				<div class="card-body">
					<form>
						<input type="hidden" name="_token">
						<div class="form-group row">
							<label class="col-md-3 col-form-label" for="signinSrEmail">Header Logo
								<small>(1500x1500)</small>
							</label>
							<div class="col-md-9">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text bg-soft-secondary font-weight-medium" style="cursor:pointer;" onclick="cloudDinaryLogoFooter2()">Browse</div>
									</div>
									<div class="form-control file-amount" style="cursor:pointer;" onclick="cloudDinaryLogoFooter2()">1 File selected</div>
									<input type="hidden" id="srcLogo2" class="selected-files" {% if configFooter != null %} value="{{configFooter.logoheader}}" {% endif %}>

									<input type="hidden" name="logo" value="99" class="selected-files">
								</div>
								<div class="file-preview box sm" id="NewPhotos">
									<div class="d-flex justify-content-between align-items-center mt-2 file-preview-item" data-id="99" title="1626638583730.jpg">
										<div class="align-items-center align-self-stretch d-flex justify-content-center thumb">
											<img {% if configFooter != null %} src="{{configFooter.logoheader}}" {% endif %} id="logoImg2" class="img-fit"></div>
										<div class="col body">
											<h6 class="d-flex">
												<span class="text-truncate title"></span>Logo<span class="ext"></span>
											</h6>
											<p></p>
										</div>
										
									</div>
								</div>
							</div>
						</div>
                        <div class="form-group row">
							<label class="col-md-3 col-form-label" for="signinSrEmail">Footer Logo
								<small>(1500x1500)</small>
							</label>
							<div class="col-md-9">
								<div class="input-group">
									<div class="input-group-prepend">
										<div class="input-group-text bg-soft-secondary font-weight-medium" style="cursor:pointer;" onclick="cloudDinaryLogoFooter()">Browse</div>
									</div>
									<div class="form-control file-amount" style="cursor:pointer;" onclick="cloudDinaryLogoFooter()">1 File selected</div>
									<input type="hidden" id="srcLogo" class="selected-files" {% if configFooter != null %} value="{{configFooter.logo}}" {% endif %}>

									<input type="hidden" name="logo" value="99" class="selected-files">
								</div>
								<div class="file-preview box sm" id="NewPhotos">
									<div class="d-flex justify-content-between align-items-center mt-2 file-preview-item" data-id="99" title="1626638583730.jpg">
										<div class="align-items-center align-self-stretch d-flex justify-content-center thumb">
											<img {% if configFooter != null %} src="{{configFooter.logo}}" {% endif %} id="logoImg" class="img-fit"></div>
										<div class="col body">
											<h6 class="d-flex">
												<span class="text-truncate title"></span>Logo<span class="ext"></span>
											</h6>
											<p></p>
										</div>
										
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-from-label">Adresse</label>
							<div class="col-md-9">
								<div class="form-group">
									<input type="hidden" name="types[]" value="topbar_banner_link">
									<input type="text" id="Adresse" class="form-control" placeholder="Adresse" name="topbar_banner_link" {% if configFooter != null and configFooter.adresse != null %} value="{{configFooter.adresse}}" {% else %} value="#" {% endif %}>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-from-label">Téléphone</label>
							<div class="col-md-9">
								<div class="form-group">
									<input type="hidden" name="types[]" value="topbar_banner_link">
									<input type="number" id="mobile" class="form-control" placeholder="Téléphone" name="topbar_banner_link" {% if configFooter != null and configFooter.telephone != null %} value="{{configFooter.telephone}}" {% else %} value="#" {% endif %}>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-from-label">E-mail</label>
							<div class="col-md-9">
								<div class="form-group">
									<input type="hidden" name="types[]" value="topbar_banner_link">
									<input type="email" id="mail" class="form-control" placeholder="Email" name="topbar_banner_link" {% if configFooter != null and configFooter.email != null %} value="{{configFooter.email}}" {% else %} value="#" {% endif %}>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-from-label">Facebook Link</label>
							<div class="col-md-9">
								<div class="form-group">
									<input type="hidden" name="types[]" value="topbar_banner_link">
									<input type="text" id="Facebook" class="form-control" placeholder="Link with http:// or https://" name="topbar_banner_link" {% if configFooter != null and configFooter.facebook != null %} value="{{configFooter.facebook}}" {% else %} value="#" {% endif %}>
								</div>
							</div>
						</div>
						<div class="form-group row">
							<label class="col-md-3 col-from-label">Instagram Link</label>
							<div class="col-md-9">
								<div class="form-group">
									<input type="hidden" name="types[]" value="topbar_banner_link">
									<input type="text" id="Instagram" class="form-control" placeholder="Link with http:// or https://" name="topbar_banner_link" {% if configFooter != null and configFooter.instagram != null %} value="{{configFooter.instagram}}" {% else %} value="#" {% endif %}>
								</div>
							</div>
						</div>


						<div class="text-right">
							<button type="button" onclick="updateFooter()" class="btn btn-custom rounded-pill fw-bold fs-14 px-4 py-2">Modifier</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</div>

    {% endblock %}
    
    
    {% block javascript %}
        {{ parent() }}
    <script type="text/javascript">
        cloudinary.setCloudName('b-ja');
    
    function cloudDinaryLogoFooter() {
        // Afficher le preloader
    $('#cloudinaryPreloader').show();

        cloudinary.openUploadWidget({
            api_key: '539474279193439',
            api_secret: '7A1irSbuKcg2XIH1TLqB4pBUZfA',
            cloud_name: 'aladdineshoping',
            upload_preset: 'aladdineshop',
            folder: 'ml_default',
    
            theme: 'minimal',
            max_file_size: 300000000,
    
            image_metadata: true,
            client_allowed_formats: ["png", "jpeg"],
            resource_type: 'image',
            folder: 'folder',
            cropping: 'server',
            cropping_coordinates_mode: 'custom',
            cropping_aspect_ratio: 0.72,
            sources: ['local', 'url'],
            button_caption: 'Télécherger image',
           
           
        },
               
    
    
                  (error, result) => { 
                     // Masquer le preloader dès que Cloudinary ferme le popup
        $('#cloudinaryPreloader').hide();
        if (!error && result && result.event === "success") { 
                    $type = "photo";
                    $("#srcLogo").val(result.info.secure_url);
    
    
    
                    $('#logoImg').attr('src', result.info.secure_url);
                    $('#NewPhotos').css('display', 'block');
                    $('#logoImg').css('display', 'block');
    
          console.log('Done! Here is the image info: ', result.info.secure_url); 
        }
      }
                );
    
    
    
    }
    

    function cloudDinaryLogoFooter2() {
        // Afficher le preloader
    $('#cloudinaryPreloader').show();

        cloudinary.openUploadWidget({
            api_key: '539474279193439',
            api_secret: '7A1irSbuKcg2XIH1TLqB4pBUZfA',
            cloud_name: 'aladdineshoping',
            upload_preset: 'aladdineshop',
            folder: 'ml_default',
    
            theme: 'minimal',
            max_file_size: 300000000,
    
            image_metadata: true,
            client_allowed_formats: ["png", "jpeg"],
            resource_type: 'image',
            folder: 'folder',
            cropping: 'server',
            cropping_coordinates_mode: 'custom',
            cropping_aspect_ratio: 0.72,
            sources: ['local', 'url'],
            button_caption: 'Télécherger image',
           
           
        },
               
    
    
                  (error, result) => { 
                     // Masquer le preloader dès que Cloudinary ferme le popup
        $('#cloudinaryPreloader').hide();
        if (!error && result && result.event === "success") { 
                    $type = "photo";
                    $("#srcLogo2").val(result.info.secure_url);
    
    
    
                    $('#logoImg2').attr('src', result.info.secure_url);
                    $('#NewPhotos2').css('display', 'block');
                    $('#logoImg2').css('display', 'block');
    
          console.log('Done! Here is the image info: ', result.info.secure_url); 
        }
      }
                );
    
    
    
    }
    

     
    
    
    function updateFooter(){
        $_data = {};
        var pathConfigFooter = '{{path('admin_footer_save')}}'
        var id=1;
        var logo = $('#srcLogo').val();
        var logoHeader =$('#srcLogo2').val();
        var Adresse = $('#Adresse').val();
        var mobile = $('#mobile').val();
        var mail = $('#mail').val();
        var facebook = $('#Facebook').val();
        var instagram = $('#Instagram').val();
        var youtube = $('#Youtube').val();
        var tiktok = $('#Tiktok').val();
    
        $_data = {
            'id': id,
            'logo': logo,
            'logoHeader': logoHeader,
            'Adresse': Adresse,
            'mobile': mobile,
            'mail': mail,
            'facebook': facebook,
            'instagram': instagram,
            'youtube': youtube,
            'tiktok': tiktok
        }
    
         if ( $('#srcLogo').val()!= "" && $('#srcLogo2').val()!= "" && $('#Adresse').val()!= "" && $('#mobile').val()!= "" && $('#mail').val()!= "" && $('#Facebook').val()!= "" && $('#Instagram').val()!= "" && $('#Youtube').val()!= "" && $('#Tiktok').val()!= ""  ) {
            $.ajax({
                type: "POST",
                url: pathConfigFooter,
                data: $_data,
                success: function (response) {
                   Swal.fire({
                       title: "success!",
                       text: "Configuration Footer  à été Modifier avec succés!",
                       icon: "success",
                       
                      }); 
                    
                       
                      location.reload();
                    
    
    
                },
                beforeSend: function(){ $('#loaderAcc').show();},
                complete: function()  { $('#loaderAcc').hide(); }
            })
        }else if ($('#srcLogo').val()== ""){
              Swal.fire({
                           title: "warning",
                           text: "merci de choisir un  logo pour le footer!",
                           icon: "warning",
                           dangerMode: true,
                        })
          }else if ($('#srcLogo2').val()== ""){
              Swal.fire({
                           title: "warning",
                           text: "merci de choisir un logo pour le header!",
                           icon: "warning",
                           dangerMode: true,
                        })
          }else if ($('#Adresse').val()== ""){
            Swal.fire({
                         title: "warning",
                         text: "merci de remplir le champ Adresse!",
                         icon: "warning",
                         dangerMode: true,
                      })
        }else if ($('#mobile').val()== ""){
            Swal.fire({
                         title: "warning",
                         text: "merci de remplir le champ un mobile!",
                         icon: "warning",
                         dangerMode: true,
                      })
          }else if ( $('#mail').val()== ""){
              Swal.fire({
                           title: "warning",
                           text: "merci de choisir e-mail!",
                           icon: "warning",
                           dangerMode: true,
                        })
          }else if ( $('#Facebook').val()== ""){
              Swal.fire({
                           title: "warning",
                           text: "merci de remplire le champ Facebook!",
                           icon: "warning",
                           dangerMode: true,
                        })
          }else if ( $('#Instagram').val()== ""){
            Swal.fire({
                         title: "warning",
                         text: "merci de remplire le champ Instagram!",
                         icon: "warning",
                         dangerMode: true,
                      })
        }
    
    }
    </script>
    {% endblock %}