{% extends 'vendeurNeuf/layoutVN.html.twig' %}
{% block Head %}
	{{ parent() }}

	{% block LinksCss %}
		{{ parent() }}
		<link rel="stylesheet" href="{{ asset ('css/carousel.css') }}">
		<link rel="stylesheet" href="{{ asset ('css/carouselle.css') }}">
		<link rel="stylesheet" href="{{ asset ('css/fontawesome.css') }}">
	{% endblock %}

{% endblock %}

{% block title %}Tableau de bord
{% endblock %}
{% block Header %}
	{{ parent() }}
{% endblock %}


{% block page %}
	{{ parent() }}
	{% block loader %}
		{{ parent() }}
	{% endblock %}
	{% if app.user %}
		{% if is_granted('ROLE_VENDEUR_NEUF') %}
			<section class="py-5">
				<div class="container">
					<div class="d-flex align-items-start">
						
						<div class="aiz-user-panel">
							<div class="aiz-titlebar mt-2 mb-4">
								<div class="row align-items-center">
									<div class="col-md-6">
										<h1 class="h3">Demande Code :
											{{ demande.code }}</h1>
									</div>
								</div>
							</div>

							<div class="card">
								<div class="card-header">
									<h5 class="h6 mb-0">Récapitulatif de la demande</h5>
								</div>
								<div class="card-body">
									<div class="row">

										<div class="col-lg-6">
											<table class="table-borderless table">
												<tbody>
													<tr>
														<td class="w-50 fw-600">Code de demande::</td>
														<td>{{ demande.code }}</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">Marque:</td>
														<td>{{ demande.marque }}</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">Modèle:</td>
														<td>{{ demande.modele }}</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">N° Châssis:</td>
														<td>{{ demande.chassis }}</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">Énergie / Carburant:</td>
														<td>{{ demande.energie }}</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">État du moteur:</td>
														<td>{{ demande.etatmoteur }}</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">Zone:</td>
														<td>{{ demande.zone }}</td>
													</tr>

												</tbody>
											</table>
										</div>
										<div class="col-lg-6">
											<table class="table-borderless table">
												<tbody>
													<tr>
														<td class="w-50 fw-600">Date de demande:</td>
														<td>{{demande.datecreate|date('d/m/Y H:i') }}</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">Statut:</td>
														<td>
															{% if demande.statut == 'ouvert' %}
																<span class="badge badge-inline badge-success">ouvert</span>
															{% elseif demande.statut == 'fermé' %}
																<span class="badge badge-inline badge-danger">fermé</span>
															{% endif %}
														</td>
													</tr>
													<tr>
														<td class="w-50 fw-600">Photo carte grise:</td>
														<td><img src="{{ demande.photocartegrise }}" alt='carte grise' style='width:222px;height:135px;border-radius:6px;'></td>
													</tr>


												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-12">
									<div class="card">
										<div class="card-header">
											<h5 class="h6 mb-0">Détails de la demande</h5>
										</div>
										<div class="card-body">
											<div id="tab_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">

												<div class="row">
													<div class="col-sm-12">
														<table class="table table-striped" id="tab">
															<thead>
																<tr>
																	<th>#</th>
																	<th>Désignation</th>
																	<th>Référence</th>
																	<th>Photo</th>
																	<th>Observation</th>
																</tr>
															</thead>
															<tbody>
																{% for piece in pieces %}
																	<tr>
																		<td>{{ loop.index }}</td>
																		<td>{{ piece.designation }}</td>
																		<td>{{ piece.referance }}</td>
																		<td>
																			{% if piece.photo %}
																				<img src="{{ asset(piece.photo) }}" alt="photo pièce" width="80">
																			{% else %}
																				-
																			{% endif %}
																		</td>
																		<td>{{ piece.observation ?: '-' }}</td>
																	</tr>
																{% else %}
																	<tr>
																		<td colspan="5" class="text-center">Aucune pièce trouvée</td>
																	</tr>
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
												
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
				<!-- /.container -->
			</section>
		{% endif %}
	{% endif %}
{% endblock %}{% block footer %}{{ parent() }}{% endblock %}{% block javascript %}{{ parent() }}<script type="text/javascript" src="{{asset ('assets/js/carousel.js') }}"></script><script src="https://cdn.jsdelivr.net/npm/chart.js"></script><script type="text/javascript"></script><script type="text/javascript">
$(document).ready(function () {
var table = $('#tabprod').DataTable({
language: {
processing: "Traitement en cours...",
search: "Rechercher :",
lengthMenu: "Afficher _MENU_ éléments",
info: " _START_-_END_/_TOTAL_ éléments",
infoEmpty: " 0 -  0 / 0 éléments",
infoFiltered: "(filtré de _MAX_ éléments au total)",
infoPostFix: "",
loadingRecords: "Chargement en cours...",
zeroRecords: "Aucun élément à afficher",
emptyTable: "Aucun élément à afficher",
paginate: {
first: "Premier",
previous: "Précédent",
next: "Suivant",
last: "Dernier"
}
},
rowReorder: {
selector: 'td:nth-child(2)'
},
responsive: true
});
});


$(document).ready(function () {
var table = $('#tabprod1').DataTable({
language: {
processing: "Traitement en cours...",
search: "Rechercher :",
lengthMenu: "Afficher _MENU_ éléments",
info: " _START_-_END_/_TOTAL_ éléments",
infoEmpty: " 0 -  0 / 0 éléments",
infoFiltered: "(filtré de _MAX_ éléments au total)",
infoPostFix: "",
loadingRecords: "Chargement en cours...",
zeroRecords: "Aucun élément à afficher",
emptyTable: "Aucun élément à afficher",
paginate: {
first: "Premier",
previous: "Précédent",
next: "Suivant",
last: "Dernier"
}
},
rowReorder: {
selector: 'td:nth-child(2)'
},
responsive: true
});
});

function PasdeStore() {
AIZ.plugins.notify('warning', "vous n'avez pas un store");
}

function dejaeffectue() {
AIZ.plugins.notify('warning', "vous avez déja effectuer une vérification");
}
function verfier() {
AIZ.plugins.notify('warning', "Il faut que votre store doit etre verfier!");
}</script>{% endblock %}

