<!-- Top Bar -->
<div class="top-navbar bg-white border-bottom border-soft-secondary z-1035" style="background-color: #ff6600 !important;">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col">
			
	        </div>
		<div class="col-5 text-right d-none d-lg-block">
<ul class="list-inline mb-0 h-100 d-flex justify-content-end align-items-center">
	<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
		<a href="tel:+216 90256692" class="text-reset d-inline-block opacity-100 py-2" style="color:#fff !important">
			<i class="la la-phone"></i>
			<span>
Contactez-nous : +216 90 256 692</span>
		</a>
	</li>
	<div class="col-lg-4">
				<ul class="list-inline my-3 my-md-0 social colored text-center">
					<li class="list-inline-item">
						<a href="#" target="_blank">
							<img src="{{ asset ('image/facebook.png')}}" style="height: 25px;max-width:100% !important;position:relative;z-index:1;" onerror="this.onerror=null;this.src='image/facebook.png';style='height: 50px;max-width:100% !important'" alt="carhabty" height="50">
						</a>
					</li>
					<li class="list-inline-item">
						<a href="#" target="_blank">
							<img src="{{ asset ('image/instagram.png')}}" style="height: 25px;max-width:100% !important;position:relative;z-index:1;" onerror="this.onerror=null;this.src='image/instagram.png';style='height: 50px;max-width:100% !important'" alt="carhabty" height="50">
						</a>
					</li>
					
				</ul>
			</div>
	


	

	
</ul></div></div></div></div><header class=" sticky-top  z-1020 bg-white border-bottom shadow-sm"><div class="position-relative logo-bar-area z-1"><div class="container"><div class="d-flex align-items-center">
<div class="col-auto col-xl-3 pl-0 pr-3 d-flex align-items-center" style="height: 100px;">
	<a class="d-block py-10px mr-3 ml-0" href="/"><img src="{{ asset ('image/logo1.png')}}" style="height: 197px;max-width:100% !important;position:relative;z-index:1;" onerror="this.onerror=null;this.src='image/logo10.png';style='height: 50px;max-width:100% !important'" alt="carhabty" height="50"></a>
</div>
<div class="d-lg-none ml-auto mr-0">
	<a class="p-2 d-block text-reset" href="javascript:void(0);" data-toggle="class-toggle" data-target=".front-header-search">
		<i class="las la-search la-flip-horizontal la-2x"></i>
	</a>
</div>
<div class="flex-grow-1 front-header-search d-flex align-items-center bg-white p-3" id="searchnav">
	<div class="position-relative flex-grow-1">
		<form action="javascript:void(0);" method="GET" class="stop-propagation">
			<div class="d-flex position-relative align-items-center">
				<div class="d-lg-none" data-toggle="class-toggle" data-target=".front-header-search">
					<button class="btn px-2" type="button">
						<i class="la la-2x la-long-arrow-left"></i>
					</button>
				</div>
				<div class="search-input-box">
					<input type="text" id="searchinput" class="border border-soft-light form-control fs-14 hov-animate-outline" name="keyword" placeholder="Je cherche ..." autocomplete="off">

					<svg id="Group_723" data-name="Group 723" xmlns="http://www.w3.org/2000/svg" width="20.001" height="20" viewbox="0 0 20.001 20">
						<path id="Path_3090" data-name="Path 3090" d="M9.847,17.839a7.993,7.993,0,1,1,7.993-7.993A8,8,0,0,1,9.847,17.839Zm0-14.387a6.394,6.394,0,1,0,6.394,6.394A6.4,6.4,0,0,0,9.847,3.453Z" transform="translate(-1.854 -1.854)" fill="#b5b5bf"></path>
						<path id="Path_3091" data-name="Path 3091" d="M24.4,25.2a.8.8,0,0,1-.565-.234l-6.15-6.15a.8.8,0,0,1,1.13-1.13l6.15,6.15A.8.8,0,0,1,24.4,25.2Z" transform="translate(-5.2 -5.2)" fill="#b5b5bf"></path>
					</svg>
				</div>

			</div>
		</form>
		<div class="typed-search-box stop-propagation document-click-d-none d-none bg-white rounded shadow-lg position-absolute left-0 top-100 w-100" style="min-height: 200px;max-height: 400px;overflow-x: auto;" id="searchbody">
			<div class="search-preloader absolute-top-center">
				<div id="loading" style="text-align: center">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</div>
			<div class="search-nothing d-none p-3 text-center fs-16"></div>
			<div id="search-content" class="text-left"></div>
		</div>
	</div>
</div>
<div class="d-none d-lg-none ml-3 mr-0">
	<div class="nav-search-box">
		<a href="#" class="nav-box-link">
			<i class="la la-search la-flip-horizontal d-inline-block nav-box-icon p-2"></i>
		</a>
	</div>
</div>
{% if app.user %}
		{% if is_granted('ROLE_PROPRIETAIRE') %}
			

			<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
				<a href="{{path('app_proprietaire')}}" class="btn btn-Dashboard">Dashboard</a>
			</li>
		{% endif %}


		<li class="list-inline-item">
			<a href="{{path('app_logout')}}" class="btn btn-loginto">Déconnexion</a>
		</li>


	{% else %}
		<li class="list-inline-item  border-right border-left-0 pr-3 pl-0">
			<a href="{{path('app_login')}}" class="btn btn-registerto">Se connecter</a>
		</li>
		<li class="list-inline-item">
			<a href="{{path('app_register')}}" class="btn btn-Dashboard">S'inscrire</a>
		</li>
	{% endif %}
</div></div></div><div class="bg-white border-top border-gray-200 py-1" style="position:relative;z-index:10;">{% set PageMenu = app.session.get('PageMenu') %}<div class="container"><ul class="list-inline mb-0 pl-0 mobile-hor-swipe text-center">
<li {% if PageMenu == "Accueil" %} class="list-inline-item mr-0 active" style="border-bottom: solid;" {% else %} class="list-inline-item mr-0" {% endif %}>
	<a href="{{ path('Accueil') }}" class="fs-14 px-3 py-2 d-inline-block fw-600 text-reset {% if PageMenu != 'Accueil' %}opacity-60{% endif %}">
		Accueil
	</a>
</li>



<li {% if PageMenu is defined and PageMenu == "test"%} class="list-inline-item mr-0 active" style="border-bottom: solid;" {% else %} class="list-inline-item mr-0" {% endif %}>
	<a href="" {% if PageMenu is defined and PageMenu == "test"%} class="fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset" {% else %} class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset" {% endif %}>
		Pièces auto d’occasion
	</a>

</li>

<li class="list-inline-item mr-0">
	<a href="{{ path('app_demande') }}" class="btn btn-register">Fiare une demande</a>
</li></ul></div></div></header>

