<!-- Top Bar -->
<div class="top-navbar bg-white border-bottom border-soft-secondary z-1035" style="background-color: #3C4C5C !important;">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col"></div>
			<div class="col-5 text-right d-none d-lg-block">
				<ul class="list-inline mb-0 h-100 d-flex justify-content-end align-items-center">
					<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
						<a href="tel:+216 90256692" class="text-reset d-inline-block opacity-100 py-2" style="color:#fff !important">
							<i class="la la-phone"></i>
							<span>
								Contactez-nous : +216 {{ footer.telephone ?? '' }}</span>
						</a>
					</li>
					<div class="col-lg-4">
						<ul class="list-inline my-3 my-md-0 social colored text-center">
							<li class="list-inline-item">
								<a href="{{ footer.facebook ?? '#' }}" target="_blank">
									<img src="{{ asset ('image/facebook.png')}}" style="height: 25px;max-width:100% !important;position:relative;z-index:1;" onerror="this.onerror=null;this.src='image/facebook.png';style='height: 50px;max-width:100% !important'" alt="essayara" height="50">
								</a>
							</li>
							<li class="list-inline-item">
								<a href="{{ footer.instagram ?? '#' }}" target="_blank">
									<img src="{{ asset ('image/instagram.png')}}" style="height: 25px;max-width:100% !important;position:relative;z-index:1;" onerror="this.onerror=null;this.src='image/instagram.png';style='height: 50px;max-width:100% !important'" alt="essayara" height="50">
								</a>
							</li>

						</ul>
					</div>


				</ul>
			</div>
		</div>
	</div>
</div>
<header class=" sticky-top  z-1020 bg-white border-bottom shadow-sm">
	<div class="position-relative logo-bar-area z-1">
		<div class="container">
			<div class="d-flex align-items-center">
				<div class="col-auto col-xl-3 pl-0 pr-3 d-flex align-items-center" style="height: 100px;">
					<a class="d-block py-10px mr-3 ml-0" href="/"><img  src="{{ footer is defined and footer.logoheader ? footer.logoheader : asset('image/blanclogo.png') }}" style="height: 283px;max-width:100% !important;position:relative;z-index:1;" onerror="this.onerror=null;this.src='/image/blanclogo.png';style='height: 50px;max-width:100% !important'" alt="essayara" height="50"></a>
				</div>
				<div class="d-lg-none ml-auto mr-0">
					<a class="p-2 d-block text-reset" href="javascript:void(0);" data-toggle="class-toggle" data-target=".front-header-search">
						
					</a>
				</div>
				<div class="flex-grow-1"></div>

				<div class="d-none d-lg-none ml-3 mr-0">
					<div class="nav-search-box">
						<a href="#" class="nav-box-link">
							<i class="la la-search la-flip-horizontal d-inline-block nav-box-icon p-2"></i>
						</a>
					</div>
				</div>
				{% if app.user %}
					{% if is_granted('ROLE_PROPRIETAIRE') %}


						<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
							<a href="{{path('app_proprietaire')}}" class="btn btn-Dashboard">Mon espace</a>
						</li>
					{% elseif is_granted('ROLE_VENDEUR_NEUF')  %}
						<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
							<a href="{{path('dashboard_vendeurNeuf')}}" class="btn btn-Dashboard">Mon espace</a>
						</li>
						{% elseif is_granted('ROLE_MECANICIEN')  %}
						<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
							<a href="{{path('app_mecancien')}}" class="btn btn-Dashboard">Mon espace</a>
						</li>
						{% elseif is_granted('ROLE_VENDEUR_OCCASION')  %}
						<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
							<a href="{{path('dashboard_vendeurOccasion')}}" class="btn btn-Dashboard">Mon espace</a>
						</li>

						{% elseif is_granted('ROLE_PARTICULIER')  %}
						<li class="list-inline-item mr-3 border-right border-left-0 pr-3 pl-0">
							<a href="{{path('app_particulier')}}" class="btn btn-Dashboard">Mon espace</a>
						</li>
					{% endif %}

					<li class="list-inline-item">
						<a href="{{path('app_logout')}}" class="btn btn-loginto">Déconnexion</a>
					</li>


				{% else %}
					<li class="list-inline-item  border-right border-left-0 pr-3 pl-0">
						<a href="{{path('app_login')}}" class="btn btn-loginto">Se connecter</a>
					</li>
					<li class="list-inline-item">
						<a href="{{path('app_register')}}" class="btn btn-Dashboard">S'inscrire</a>
					</li>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="bg-white border-top border-gray-200 py-1" style="position:relative;z-index:10;">{% set PageMenu = app.session.get('PageMenu') %}<div class="container">
			<ul class="list-inline mb-0 pl-0 mobile-hor-swipe text-center">
				<li {% if PageMenu == "Accueil" %} class="list-inline-item mr-0 active" style="border-bottom: solid;" {% else %} class="list-inline-item mr-0" {% endif %}>
					<a href="{{ path('Accueil') }}" class="fs-14 px-3 py-2 d-inline-block fw-600 text-reset {% if PageMenu != 'Accueil' %}opacity-60{% endif %}">
						Accueil
					</a>
				</li>

				<li {% if PageMenu == "demande_all" %} class="list-inline-item mr-0 active" style="border-bottom: solid;" {% else %} class="list-inline-item mr-0" {% endif %}>
					<a href="{{path('app_demande_all')}}" class="fs-14 px-3 py-2 d-inline-block fw-600 text-reset {% if PageMenu != 'demande_all' %}opacity-60{% endif %}">
						Demandes
					</a>
				</li>


				<li {% if PageMenu is defined and PageMenu == "app_home_annonces"%} class="list-inline-item mr-0 active" style="border-bottom: solid;" {% else %} class="list-inline-item mr-0" {% endif %}>
					<a href="{{ path('app_home_annonces')}}" {% if PageMenu is defined and PageMenu == "app_home_annonces"%} class="fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset" {% else %} class="opacity-60 fs-14 px-3 py-2 d-inline-block fw-600 hov-opacity-100 text-reset" {% endif %}>
						Pièces occasion
					</a>

				</li>

				<li class="list-inline-item mr-0">
					{% if app.user %}
						{% if is_granted('ROLE_VENDEUR_NEUF') %}
							<button type="button" class="btn btn-register" onclick="AIZ.plugins.notify('danger', 'Seul le propriétaire et le mécanicien peut faire une demande !');">
								Faire une demande
							</button>
							{% elseif is_granted('ROLE_VENDEUR_OCCASION') %}
							<button type="button" class="btn btn-register" onclick="AIZ.plugins.notify('danger', 'Seul le propriétaire et le mécanicien peut faire une demande !');">
								Faire une demande
							</button>
						{% elseif is_granted('ROLE_PROPRIETAIRE') or is_granted('ROLE_MECANICIEN') %}
							<a href="{{ path('app_demande') }}" class="btn btn-register">Faire une demande</a>
							{% elseif is_granted('ROLE_PARTICULIER') or is_granted('ROLE_PARTICULIER') %}
							<a href="{{ path('add_annonces') }}" class="btn btn-register">Publier une annonce</a>
						{% endif %}
					{% else %}
						<a href="{{ path('app_demande') }}" class="btn btn-register">Faire une demande</a>
					{% endif %}
				</li>


			</ul>
		</div>
	</div>
</header>

